* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Setting Base Font Size */


html {
    font-size: 10px;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.2;
}

.header-container {
    width: 132rem;
    height: 5.5rem;
    background-color: #1F2937;
}

.header {
    width: 90rem;
    height: 5.5rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    gap: 2rem;
    list-style: none;
}

ul a {
    text-decoration: none;
    font-size: 1.8rem;
    color: #E5E7EB;
}

.logo a {
    text-decoration: none;
    font-weight: bolder;
    font-size: 2.4rem;
    color: #F9FAF8;
}

#main {
    width: 132rem;
    height: 43.1rem;
    background-color: #1F2937;
}

.hero-container {
    width: 90rem;
    margin: 0 auto;
    padding-top: 9rem;
    padding-bottom: 9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-content {
    width: 47%;
}

.hero-main-text {
    font-size: 4.8rem;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-text {
    font-size: 1.8rem;
    margin-top: 1rem;
    color: #E5E7EB;
}

.hero-button {
    font-size: 1.8rem;
    padding: 0.9rem 3.2rem;
    background-color: #3882F6;
    border-radius: 0.9rem;
    margin-top: 1rem;
    width: 30%;
}

.hero-button a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.hero-image {
    height: 24.9rem;
    width: 50%;
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.title {
    font-size: 3.6rem;
    font-weight: 900;
}

